<nav class="navbar navbar-expand-lg bg-danger col-6">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">If&else POS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" routerLink="inventory">Inventory</a>
          <a class="nav-link" aria-current="page" routerLink="summery">Summery</a>
          <a class="nav-link" aria-current="page" routerLink="billing">Billing</a>
          <a class="nav-link" aria-current="page" routerLink="users">User Manegment</a>
        </div>
      </div>
    </div>
  </nav>